.payment{
    background-color: white;
}

.payment_container >h1{

    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234,237,237);
    border-bottom: 1px solid lightgray;
}

.payment_container >h1 a{
    text-decoration: none;
    color: black;
}

.payment_section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}

.payment_title{

    flex: 0.2;
}
.payment_address, .payment_items ,.payment_details{
    flex: 0.8;
}

.payment_address{
    display: flex;
    flex-direction: column;
}
.payment_pricecontainer{
    margin-top: 10px;
}

.buynow:enabled{
    background: #f0c14b;
    border-radius: 2px;
    border: 1px solid;
    width: 100px;
    height: 30px;
    color: #111;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}

@media (max-width: 450px)
{

    .payment_section{
        display: flex;
        flex-direction: column;
    }
    .payment_title{
        text-align: center;
        margin-bottom: 10px;
    }



}